{
    "printWidth": 80,
    "tabWidth": 2,
    "singleQuote": true,
    "jsxSingleQuote": false,
    "trailingComma": "none",
    "arrowParens": "avoid",
    "bracketSpacing": false,
    "proseWrap": "never",
    "jsxBracketSameLine": true,
    "htmlWhitespaceSensitivity": "ignore"
}