{
    "printWidth": 80,
    "tabWidth": 2,
    "singleQuote": false,
    "jsxSingleQuote": false,
    "trailingComma": "all",
    "arrowParens": "avoid",
    "bracketSpacing": true,
    "proseWrap": "never",
    "jsxBracketSameLine": true,
    "htmlWhitespaceSensitivity": "ignore"
}